## Build & IDE
bin/
obj/
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.suo
*.userprefs

## Logs
logs/
*.log

## NuGet
packages/
*.nupkg

## SQLite
*.db
*.db-shm
*.db-wal

## Publish
publish/

## OS
Thumbs.db
.DS_Store
